* {
    box-sizing: border-box;

}

img {
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

/* GENERELT */


p,
h1 {
    font-family: 'Open Sans', sans-serif;
}

nav a {
    font-family: 'Open Sans', sans-serif;
}

/* FOOTER - Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
}

.footer_tekst {
    position: absolute;
    color: white;
    bottom: 0px;
    left: 10vw;
    /*
    right: 20px;
    left: 50px;
    padding-left: 20px;
    padding-right: 20px;*/
}

.footer_tekst p {
    font-size: .8em;
}

#icons {
    position: absolute;
    margin-top: -3vw;
    width: 160vw;

}

.insta {
    margin-top: 9vw;
    margin-left: 4vw;
    width: 5%;
}

.facebook {
    margin-top: -5.8vw;
    margin-left: 12vw;
    width: 4.5%;
}


/* TOPPEN */
header {
    width: 100%;
    height: 50px;
    background-color: #093A82;

}

header nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
    color: white;
    font-size: 2rem;
    max-width: 93.3vw;
}


header nav a {
    display: flex;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    font-size: 1.5rem;
    margin-right: 5vw;


}

header nav a:visited {}


header ul {
    padding: 10px 40px 10px 10px;
    background-color: #093A82;
    position: absolute;
    top: 4vw;
    right: -0.1vw;

}

header li {
    display: inline-block;
    letter-spacing: 1px;
    background-color: #093A82;
    padding: 1.5vw;

    display: block;



    /*
transform: translate(-10px, -175px);
transition: .3s;
transition-timing-function: steps(5, jump-start);*/


}

.hidden {
    transform: translateX(-100%);
    opacity: 0;
    display: none;
}

#menuknap {
    display: inline-block;
    margin-right: 5vw;
    font-family: 'Open Sans', sans-serif;
    /*margin: 0.5rem;*/
}



#splash .pil {
    display: none;
}

/* INDHOLD */
/* INDHOLD FØRSTE TEKST - her er der brugt flexbox til at få billede og tekst til at ligge under hinanden i mobil-version og ved siden af hinanden i desktop-version. */
#section_1 {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
}

.foto_1,
.txt_1 {
    flex-grow: 1;
    flex-basis: 400px;
}

.txt_1 {
    margin-top: 10vw;
    margin-bottom: 2vw;
    margin: 0 7vw;
}

.foto_1 {
    max-width: 60vw;
    margin: auto;
}

/* INDHOLD ANDEN TEKST - her er der brugt position relative og position absolute for at gøre det muligt at ligge teksten ovenpå billedet. */
#section_2 {
    margin-top: 10vw;
    position: relative;
    text-align: end;
}

.txt_2 {
    position: absolute;
    max-width: 70vw;
    top: 10vw;
    margin: 0 2vw 0 25vw;
}

/* Her beder jeg den om ikke at vise det billede, som ligger i classen "foto_2_2", fordi det er det billede, som skal bruges til web. */
.foto_2_2 {
    display: none;
}

.img_4 {
    width: 55%;
    margin: auto;
}

/* DIAGRAM */
#diagram_section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: reverse;
}

.txt_diagram,
.diagram_ups {
    flex-grow: 1;
    flex-basis: 500px;
}

.txt_diagram {
    margin: 15vw 7vw 0;
}

.diagram_ups {
    margin-bottom: 15vw;
}

#mus {
    position: fixed;
    background-color: #093A82;
    color: #fbc277;
    padding: .3em;
    display: none;
}

#tuborgnul {
    max-height: 400px;
}

#diagram line {
    stroke: black;
}

.bars {
    stroke-width: 10;
    stroke: #093A82;
}

#diagram text {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.7rem;
}


/* INDHOLD FJERDE TEKST */
section_4 {}

.txt_4 {
    margin: 0 7vw;
}

/*--------VIDEO-------------*/
#video {}

#video h1 {
    margin: 10vw 7vw 0;
}

.video_text {
    margin: 0 7vw 10vw;
}

.video_file {
    background-color: black;
    height: 30vh;
    width: 70vw;
    margin: auto;
    margin-bottom: 15vw;
}


/************** IPAD *****************/
@media only screen and (min-width:700px) {
    .footer_tekst {
        position: absolute;
        color: white;
        bottom: 3vw;
        left: 25vw;
    }

    .footer_tekst p {
        font-size: 1rem;
    }

    #icons {
        margin-top: 6vw;
        width: 100%;
    }

    .insta {
        margin-top: 2vw;
        margin-left: 5vw;
        width: 8%;
    }

    .facebook {
        margin-top: -5vw;
        margin-left: 12vw;
        width: 7.3%;
    }

    header nav {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-end;
        color: white;
        font-size: 2rem;
        max-width: 100vw;
    }

    header ul {
        padding: 10px 40px 10px 10px;
        background-color: #093A82;
        position: absolute;
        top: 2vw;
        right: -0.1vw;

    }


}


/************ Desktop ****************/

@media only screen and (min-width:800px) {

    /*----Generalet-----*/
    section {
        margin: 0 auto;
    }

    #menuknap {
        display: none;
    }

    .hidden {
        transform: translateX(0);
        opacity: 1;
        display: inline-block;
    }

    header {
        width: 100%;
    }

    header li {
        display: inline-block;
        letter-spacing: 1px;
        margin-left: 2vw;
    }

    /*   header nav {
       width: 100vw;
       height: 50px;
   }*/

    ul {
        margin-top: 0em;
        margin-right: 1rem;
    }

    header nav li {
        padding: 0.2rem;
        /*background-color: transparent;*/
        /*margin: 0.2rem;*/
        text-decoration: none;
    }

    /*--------splash---------------*/

    #splash img {
        width: 100%
    }

    #splash .pil {
        display: block;
        position: absolute;
        top: 35vw;
        left: 34vw;
        max-width: 5vw;
    }

    /*-----footer---desktop---------*/

    .footer_tekst {
        left: 25vw;
    }

    .footer_tekst p {
        font-size: 1.4em;
    }

    #icons {
        margin-top: 8vw;
        width: 55%;
    }

    .insta {
        margin-top: 2vw;
        margin-left: 3vw;
        width: 8%;
    }

    .facebook {
        margin-top: -4.2vw;
        margin-left: 10.5vw;
        width: 7.3%;
    }

    /* INDHOLD */

    #section_1 {
        background-color: #efeded;
        max-width: 80vw;
        margin: auto;
        margin-top: 2vw;
    }

    .txt_1 {
        text-align: end;
        margin-top: 4vw;
    }

    .foto_1 {
        max-width: 23vw;
        margin-right: 6vw;
    }

    /*Dette gøres for at tekst kan komme ovenpå billedet */
    #section_2 {
        position: relative;
    }

    .txt_2 {
        text-align: left;
        position: absolute;
        left: 30vw;
        top: 10vw;
        right: 7vw;
    }

    /* Her beder jeg den igen om at skjule det billede, som bruges i mobilversionen og derimod vise det billede, som jeg skal bruge her i desktop versionen. */
    .foto_2_1 {
        display: none;
    }

    .foto_2_2 {
        display: block;
    }

    /* DIAGRAM */
    #diagram_section {
        background-color: #efeded;
        margin: 10vw;

    }

    .diagram_ups {
        margin-bottom: 0vw;
        margin-top: 5vw;
    }

    .txt_diagram {
        text-align: end;
        margin: 2vw 0 0 4vw;
    }

    #section_4 {
        max-width: 80vw;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        background-color: #efeded;
        margin: auto;
        margin-top: 2vw;
    }

    .txt_4 {
        flex-grow: 1;
        flex-basis: 400px;
        margin-top: 5vw;
        margin-bottom: 2vw;
    }

    .img_4 {
        width: 30%;
        margin-left: 2vw;
    }

    /*    #section_4 {
        background-color: #efeded;
        max-width: 80vw;
        margin: auto;
        margin-top: 10vw;
        max-width: 1000px;
        margin: 0 auto;
        padding: 10px;
        background: #ececec;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 4fr));
        grid-gap: 5px;
    }*/


    .pil {
        animation-name: beat_kf;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }


    @keyframes beat_kf {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(10px);
        }

        100% {
            transform: translateY(0);
        }
    }

    #video {
        background-color: #efeded;
        max-width: 80vw;
        margin: auto;
        margin-top: 5vw;
        margin-bottom: 15vw;
        padding-bottom: 1vw;
        /*
        max-width: 80vw;
        background-color: #efeded;
        margin: 10vw;
        margin-top: 5vw;*/
    }

    #video h1 {
        max-width: 60vw;
        margin: auto;
        padding-top: 2vw;
        /*
        padding-left: 10rem;
        padding-top: 3rem;*/
    }

    .video_text {
        max-width: 60vw;
        margin: auto;
        /*
        margin-left: 10rem;
        margin-right: 10rem;
        margin-bottom: 3rem;*/
    }

    .video_file {
        background-color: black;
        height: 40vh;
        width: 35vw;
        margin-bottom: 2vw;
    }

}

@media only screen and (min-width:1300px) {


    header li {
        display: inline-block;
        height: 30px;
        padding: 0px;
    }

    header ul {
        position: absolute;
        top: 0vw;
        /*right: -5vw;*/
        padding: 0px;
    }

    .footer_tekst p {
        font-size: 1.8em;
    }

    .insta {
        margin-top: 4vw;
        margin-left: 6vw;
        width: 11%;
    }

    .facebook {
        margin-top: -4.4vw;
        margin-left: 12vw;
        width: 10%;
    }
}
